.about {
  @include flexbox;
  @include justify-content(space-around);
  @include box-shadow(0, 0, 5px, rgba(50, 50, 50, .2));
  background-color: $about-bg-color;

  @include media-queries(laptop, max) {
    @include flex-direction(column);
    @include align-items(center);
  }

  &_foto {
    @include flex(1);
    @include margin-padding(null, null, right, 10px);
    text-align: right;
  }

  &_img {
    box-shadow: -2px 4px 5px 0px rgba(50, 50, 50, .2);
    border-radius: 50%;
  }

  &_text {
    @include flex(2);
    @include margin-padding(null, null, left, 10px);
    text-align: left;

    @include media-queries(laptop, max) {
      @include margin-padding(null, null, left, 0px);
    }

    @include media-queries(mobile_L, max) {
      line-height: 26px;
    }

  }
}