body {
  font-family: $font-primary;
  @include font(16px, $basic-text-color, 400, normal);
  background-color: $basic-background;

  @include media-queries(tablet, max) {
    @include font(14px, null, null, null);
  }
}

.wrapper {
  @include size(1200px, auto);
  @include push--auto();

  @include media-queries(laptop_L, max) {
    @include size(100%, auto);
  }
}

h1, h2 {
  @include font(48px, $basic-text-color, 700, null);
  @include position(relative, $top: 0, $left: 0);
  @include margin-padding(bottom, 50px, null, null);
  @include size(100%, auto);
  border-bottom: 1px solid #e3e3e9;

  @include media-queries(mobile_L, max) {
    font-size: 26px;
    @include margin-padding(bottom, 20px, bottom, 5px);
  }

  &:before {
    content: "";
    @include position(absolute, $left: 0, $bottom: -1px);
    @include size(63px, 3px);
    background-color: $basic-text-color;
  }
}

h3 {
  @include font(26px, null, 300);
  @include margin-padding(bottom, 20px, null, null);

  @include media-queries(mobile_L, max) {
    @include font(22px, null, null);
    @include margin-padding(bottom, 10px, null, null);
  }
}

section {
  @include position(relative, $top: 0, $left: 0);
  @include margin-padding(null, null, all, 50px 20px);
  background-color: $basic-background;

  @include media-queries(mobile_L, max) {
    @include margin-padding(null, null, all, 20px);
  }
}

button,
.button {
  @include custom-button(null, null, $basic-layout-color, $button-text-color);
  @include margin-padding(null, null, all, 10px 20px);
  @include transition(.4s);
  @include font(16px, null, bold);
  text-decoration: none;
  display: inline-block;

  &:hover {
    background-color: $basic-text-color;
  }
}