.header {
  @include background-image("../../src/images/home.jpg");
  background-size: cover;
  background-position: top center;
  height: 100vh;

  @include media-queries(tablet, max) {
    @include background-image("../../src/images/home_tablet.jpg");
  }

  @include media-queries(mobile_L, max) {
    @include background-image("../../src/images/home_mobile.jpg");
  }

}

.header_top {
  @include position(fixed, $top: 0, $left: 0);
  @include size(100%, auto);
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-around);
  @include margin-padding(null, null, all, 10px);
  @include transition(.4s);
  z-index: 9;

  @include media-queries(laptop, max) {
    padding: 0;
    background-color: #ffffff;
    @include size(null, 50px);
    @include box-shadow(0px, 3px, 5px, rgba(0, 0, 0, .1));
  }

  &.fixed-header {
    @include box-shadow(0px, 3px, 5px, rgba(0, 0, 0, .1));
    background-color: #ffffff;
  }

  &.active {
    top: 0px;
  }
}

.logo {
  @include background-image("../../src/images/logo.png");
  @include size(131px, 61px);
  text-indent: -9999em;

  @include media-queries(laptop, max) {
    @include margin-padding(bottom, 20px, null, null);
    @include position(absolute, $top: 5px, $left: 5px);
    @include size(86px, 40px);
    background-size: 100% auto;
  }
}

.nav {
  @include flexbox;

  @include media-queries(laptop, max) {
    @include flex-direction(column);
    @include size(50%, 100vh);
    @include position(absolute, $top: 0, $left: 0);
    @include transition(.4s);
    background-color: rgba(0, 0, 0, .9);
    left: -100vw;
  }

  &_item {
    text-align: center;
    @include margin-padding(left, 5px, null, null);

    @include media-queries(laptop, max) {
      @include margin-padding(all, 15px 0px, null, null);
    }
  }

  &_link {
    @include font(18px, $basic-text-color, null, null);
    @include transition(0.4s);
    @include margin-padding(all, 0 1px, all, 30px 20px);
    text-decoration: none;

    @include media-queries(laptop, max) {
      color: #ffffff;
      display: block;
      @include margin-padding(all, 0, all, 5px 0px);
    }
  }

  &_link.active,
  &_link:hover {
    background: $basic-layout-color;
    color: #ffffff;
  }

  &.active {
    left: 0;
  }
}

.header_desc {
  @include position(fixed, $top: 50%, $left: 0);
  @include size(100%, auto);
  @include margin-padding(null, null, left, 20px);
  transform: translate(0, -50%);

  @include media-queries(laptop_L, max) {
    background-color: rgba(255, 255, 255, .8);
    @include margin-padding(null, null, all, 20px);
    text-align: center;
  }

  &-title {
    border: none;
    @include font(84px, null, null);
    margin: 0;

    @include media-queries(laptop, max) {
      @include font(45px, null, null);
    }

    @include media-queries(mobile_L, max) {
      @include font(28px, null, null);
    }

    &:before {
      display: none;
    }
  }

  &-name {
    border: none;
    @include font(42px, null, 300);
    @include margin-padding(bottom, 30px, null, null);

    @include media-queries(laptop, max) {
      @include font(30px, null, null);
    }

    @include media-queries(mobile_L, max) {
      @include font(16px, null, null);
      @include margin-padding(bottom, 10px, null, null);
    }

    &:before {
      display: none;
    }
  }

  .button {
    @include media-queries(mobile_L, max) {
      @include font(11px, null null);
      @include margin-padding(null, null, all, 5px 10px);
    }
  }
}