.projects {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.project {
  @include flexbox;
  @include flex-basis(49%);
  @include box-shadow(0px, 0px, 5px, rgba(0, 0, 0, .2));
  @include margin-padding(bottom, 20px, all, 20px);
  @include position(relative, $top: 0, $left: 0);
  height: 370px;
  background: #ffffff;

  @include media-queries(laptop_old, max) {
    height: auto;
  }

  @include media-queries(laptop_XL, max) {
    @include flex-direction(column);
    @include align-items(center);
  }

  @include media-queries(mobile_L, max) {
    @include flex-basis(100%);
  }

  &_foto {
    @include media-queries(laptop_XL, max) {
      @include margin-padding(bottom, 20px, null, null);
    }

    .project_img {
      min-width: 400px;
      @include size(100%, auto);

      @include media-queries(laptop, max) {
        min-width: 100%;
      }
    }
  }

  &_desc {
    @include margin-padding(null, null, all, 0px 20px);
    @include size(100%, auto);

    @include media-queries(laptop_XL, max) {
      padding: 0;
    }
  }

  &_name {
    @include font(22px, null, bold);

    @include media-queries(mobile_L, max) {
      @include font(18px, null, null);
    }
  }

  &_text {
    @include margin-padding(top, 20px, null, null);

    @include media-queries(mobile_L, max) {
      @include margin-padding(top, 10px, null, null);
    }

    .use {
      @include margin-padding(all, 20px 0, null, null);
      @include flexbox;
      @include flex-wrap(wrap);

      @include media-queries(mobile_L, max) {
        @include margin-padding(all, 10px 0, null, null);
      }

      .use_header {
        @include font(16px, null, bold);
        @include flex-basis(100%);
        @include margin-padding(bottom, 5px, null, null);
      }

      span {
        @include font(12px, null, null);
        @include margin-padding(all, 0px 5px 5px 0px, all, 3px 5px);
        text-transform: uppercase;
        background-color: $projects-use-color;
      }
    }
  }

  &_buttons {
    text-align: left;

    @include media-queries(tablet, max) {
      @include flexbox;
      @include justify-content(space-between);
    }

  }

  &_soon {
    @include centerer;
    @include font(50px, null, null);
    @include size(auto, 26px);
    line-height: 0;
  }

  .project_btn-dark {
    background-color: $basic-text-color;
    @include margin-padding(left, 5px, null, null);

    @include media-queries(mobile_L, max) {
      @include margin-padding(left, 0px, null, null);
    }

    &:hover {
      background-color: $basic-layout-color;
    }
  }

  .project_buttons-soon {
    color: $error-color;
    font-weight: bold;
  }
}