.skills {
  @include flexbox;
  @include flex-wrap(wrap);
  background-color: $skills-section-color;

  @include media-queries(mobile_L, max) {
    @include flex-direction(column);
  }

  &_title {
    text-align: center;
    border: none;

    @include media-queries(mobile_L, max) {
      @include margin-padding(bottom, 40px, null, null);
    }

    &:before {
      left: 50%;
      bottom: -10px;
      transform: translate(-50%, -50%);
    }
  }

  &_foto {
    @include flex(2);
    @include align-self(center);
    text-align: center;

    @include media-queries(laptop, max) {
      @include flex-basis(100%);
      @include margin-padding(bottom, 50px, null, null);
    }

    @include media-queries(mobile_L, max) {
      @include margin-padding(bottom, 20px, null, null);
    }

    .skills_img {
      min-width: 668px;

      @include media-queries(tablet, max) {
        min-width: 100%;
        @include size(100%, auto);
      }
    }
  }

  &_learn {
    @include flex(1);
    @include margin-padding(null, null, right, 20px);

    @include media-queries(mobile_L, max) {
      @include margin-padding(bottom, 20px, right, 0px);
    }
  }

  &_know {
    @include flex(1);
  }

  &_list {
    list-style-image: url("../../src/images/li.png");
    @include margin-padding(left, 40px, null, null);
    text-transform: uppercase;

    .skill_item {
      @include margin-padding(all, 10px 0px, null, null);
    }
  }
}