$basic-text-color: #333333;
$basic-background: #f6f6f6;
$basic-layout-color: #ff7602;
$button-text-color: #f1f1f1;
$skills-section-color: #F9E8E0;
$projects-use-color: #ededed;
$error-color: #ff0000;
$valid-color: #008000;