.hamburger {
  cursor: pointer;
  @include position(fixed, $top: 10px, $right: 10px);
  z-index: 9999;
  display: none;

  @include media-queries(laptop, max) {
    display: block;
  }

  &:focus {
    &>.hamburger__container {
      box-shadow: 0px 0px 2px 2px #51a7e8;
    }
  }
}

.hamburger__container {
  @include flexbox;
  @include align-items(center);
  @include position(relative, null, null);
  @include size(35px, 30px);
}

.hamburger__bars {
  @include position(absolute, null, null);
  @include size(35px, 2px);
  background-color: #000000;
  transition: transform 220ms ease-in-out;

  &:before,
  &:after {
    @include position(absolute, null, null);
    @include size(35px, 2px);
    display: block;
    background-color: #000000;
    content: '';
  }

  &:before {
    top: -12px;
    transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
  }

  &:after {
    bottom: -12px;
    transition: bottom 100ms 250ms ease-in,
      transform 220ms ease-in-out;
  }
}

.hamburger--active {
  .hamburger__bars {
    transform: rotate(225deg);
    transition: transform 220ms 120ms ease-in-out;

    &:before {
      top: 0;
      transition: top 100ms ease-out;
      background-color: $error-color;
    }

    &:after {
      bottom: 0;
      background-color: $error-color;
      transform: rotate(-90deg);
      transition: bottom 100ms ease-out,
        transform 220ms 120ms ease-in-out;
    }
  }
}

.hamburger,
.hamburger__container {
  &:focus {
    outline: none;
  }
}