body, html {
    font-family: 'Montserrat', sans-serif;
}

.height {
    width: 100%;
    height: 80px;
}

.section {
    width: 100%;
    height: 100vh;
    margin-bottom: 20px;
    background: cadetblue;
}

.wrapper {
    width: 1200px;
    margin:  0 auto;

    @include screen('tablet') {
        width: 100%;
        margin: 0;
    }
}