//positioning
@mixin position($position, $args) {
    @each $o in top right bottom left {
      $i: index($args, $o);
      @if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number {
        #{$o}: nth($args, $i + 1);
      }
    }
    position: $position;
}
  
@mixin absolute($args: '') {
    @include position(absolute, $args);
}
  
@mixin fixed($args: '') {
    @include position(fixed, $args);
}
  
@mixin relative($args: '') {
    @include position(relative, $args);
}

/*

.menu li {
  @include relative;
}

.sub-menu {
  @include absolute(top 100% left 0);
}

.sticky-bar {
  @include fixed(top 0 left 0);
}
*/


//media queries
@mixin screen($size) {
    $desktop: "(max-width: 1200px)";
    $tablet: "(max-width: 1024px)";
    $mobile: "(max-width: 768px)";
    @if $size == desktop {
      @media only screen and #{$desktop} {
        @content;
      }
    }
    @else if $size == tablet {
      @media only screen and #{$tablet} {
        @content;
      }
    }
    @else if $size == mobile {
      @media only screen and #{$mobile} {
        @content;
      }
    }
    @else {
      @media only screen and #{$size} {
        @content;
      }
    }
  }
  /*
  .wrapper {
  margin: 0 auto;
  width: 100%;
  @include screen('tablet') {
    width: 90%;
  }

  @include screen('desktop') {
    width: 85%;
  }
}
  */

  //css3 keyframes

  @mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
      @content;
    }
  
    @-moz-keyframes #{$name} {
      @content;
    }
  
    @keyframes #{$name} {
      @content;
    }
  }

  /*
@include keyframes(animate) {
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
  */


  //Vertical centering
  @mixin center-vertically {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /*
.vc-box {
  @include center-vertically;
}
  */


  //fonty
@mixin font($size: false, $colour: false, $weight: false,  $line: false) {
    @if $size {
      font-size: ($size / 16) * 1rem;
    }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $line { line-height: $line; }
}

//p{
//   @include font(20px, red, 700);
//}