.about {

    padding-top: 20px;
    padding-bottom: 20px;

    @include screen('tablet') {
        flex-direction: column;

        &_image {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
    }

    &_txt {
        @include font(18, null, null, 1.7);
        display: flex;
        justify-content: center;
        align-items: flex-start;

        @include screen('tablet') {
            @include font(16);
            flex-direction: column;
        }
    }

}