.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;

    @include screen('tablet') {
        flex-direction: column;

        &_image {
            width: 100%;
            text-align: center;
        }
    }

    &_txt {
        @include font(18, null, null, 1.7);
    }

}