.home {
    background-image: url('../../assets/img/top.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    height: 648px;
    background-size: cover;
    position: relative;

    @include screen('tablet') {
        background-image: url('../../assets/img/top_mobile.jpg');
        height: 100vh;
    }

    .home_content {
        @include absolute(top 50% left 0);
        transform: translate(20px, -50%);
        
        @include screen('tablet') {
            width: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }

    &_header {
        @include font(70, $text-color, 700);
        margin-bottom: 15px;

        @include screen('tablet') {
            @include font(30);
        }
    }

    &_title {
        @include font(35, $text-color, 400);
        display: block;
        margin-bottom: 20px;

        @include screen('tablet') {
            @include font(18);
        }
    }
}