.header {
    @include fixed(top 0 left 50%);
    transform: translate(-50%, 0);
    width: 1200px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1;
    background-color: #ffffff;

    @include screen('tablet') {
        left: 0;
        width: 100%;
        transform: none;
        height: 40px;
    }

    .logo {
        &_img {
            @include screen('tablet') {
                width: 64px;
                height: 30px;
            }
        }
    }

    .nav_container {
        @include screen('tablet') {
            @include fixed(top 0 left 0);
            text-align: center;
            height: 100%;
            width: 0%;
            background-color: rgba(0, 0, 0, .8);
            overflow-x: hidden;
            transition: width .4s;
        }

        .nav {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            @include screen('tablet') {
                flex-direction: column;
                align-items: stretch;
            }

            &_item {
                list-style: none;

                a {
                    @include font(18, $text-color, 400);
                    text-decoration: none;
                    padding: 28px;
                    white-space: nowrap;

                    @include screen('tablet') {
                        padding: 20px 0px;
                        display: block;
                        color: #ffffff;
                        margin-bottom: 20px;
                    }

                    &.active,
                    &:hover {
                        background-color: $base-color;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.closebtn {
    color: #ffffff;
    font-size: 50px;
    display: none;
    text-align: right;
    padding-right: 20px;
    cursor: pointer;

    @include screen('tablet') {
        display: block;
    }
}