.projects {
    display: flex;
    flex-wrap: wrap;

    @include screen('desktop') {
        flex-direction: column;
    }

    .project {
        display: flex;
        flex-basis: 49%;
        box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, .4);
        margin: 0 20px 20px 0px;
        padding: 20px;
        position: relative;
        background: #ffffff;
        min-height: 386px;

        @include screen('tablet') {
            flex-direction: column;
            flex-basis: 100%;
            margin: 0 0 20px 0px;
        }

        &:nth-child(2n) {
            margin-right: 0px;
        }

        &_photo {
            width: 50%;
            text-align: center;
            margin-bottom: 20px;
            @include screen('tablet') {
                width: 100%;
            }

            img {
                max-width: 400px;
                width: 100%;
                height: auto;
            }
        }

        &_desc {
            padding: 0 20px 20px 20px;
            width: 50%;

            @include screen('tablet') {
                width: 100%;
                padding: 0px;
            }
        }

        &_name {
            @include font(22, null, 700);
            margin-bottom: 20px;
        }

        &_text {
            line-height: 1.5em;
            margin-bottom: 20px;
        }

        &_use {
            display: flex;
            flex-wrap: wrap;
            margin: 20px 0px;

            &-header {
                width: 100%;
                font-weight: bold;
                margin-bottom: 5px;
            }

            span {
                font-family: Arial, Helvetica, sans-serif;
                @include font(11);
                margin: 0px 5px 5px 0px;
                padding: 7px 10px;
                text-transform: uppercase;
                background-color: $use-color;

                @include screen('mobile') {
                    width: 50%;
                    margin: 0;
                    border: 1px solid #ffffff;
                }
            }
        }

        &_buttons {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .button {
                margin-bottom: 20px;
                width: 140px;

                @include screen('mobile') {
                    margin-bottom: 0px;
                    @include font(14);
                    border: 1px solid #ffffff;
                }
            }

            .soon {
                text-align: left;
                width: 100%;
                @include font(18, #ff0000, 700);

                @include screen('mobile') {
                    text-align: center;
                }
            }
        }
    }
}