$base-color: #ff7602;
$text-color: #414141;
$header-color: #ffffff;
$hover-color: #454545;
$border-color: #e3e3e9;
$skills-color: #F9E8E0;
$use-color: #ededed;
$footer-color: #141414;
$social-color: #f0f0f0;